/* styles/Home.module.css */
.container {
  padding: 2rem;
  background-color: #ffffff; /* White background for clarity */
  text-align: center; /* Center content */
}

.title {
  font-size: 2.5rem;
  color: #333; /* Dark grey for titles */
  margin-bottom: 1rem;
}

.img {
  border-radius: 50%;
  max-width: 200px; /* Set a max width for profile picture */
  height: auto;
}
